@model JooleGroupProject.Data.tblUser
@{
    Layout = null;
}

<!DOCTYPE html>


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LoginPage</title>
    <link href="~/Content/UserLogin/Login.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Content/UserLogin/SignUpNew.js"></script>
</head>
<body class="backColor">
    <div class="signUp-div">
        <a class="signUp" data-toggle="modal" data-target=".SignUpPageM">Sign Up</a>
        <!--Html.ActionLink("Sign Up", "SignUpPage", "UserLogin", new { class = "signUp" })-->
    </div>

    <div id="login-div">

        @using (Html.BeginForm("Login", "UserLogin", FormMethod.Post))
        {
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td></td>
                    <td align="center">
                        <img src="~/Images/JooleLogo.png" />
                    </td>
                </tr>
                <tr>
                    <td><br /><br /></td>
                </tr>
                <tr>
                    <td></td>
                    <td align="center" style="font-size: 25px; font-weight:bold;">Building Product Selection Platform</td>
                </tr>
                <tr>
                    <td><br /></td>
                </tr>
                <tr>
                    <td></td>
                    <td class="inner-addon right-addon" align="center">
                        @Html.EditorFor(userName => userName.User_Name, new { htmlAttributes = new { @class = "editorBar", placeholder = "Username or Email" } })

                        <i class="glyphicon glyphicon-user"></i>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td align="center">@Html.ValidationMessageFor(validInfo => validInfo.User_Name)</td>
                </tr>
                <tr>
                    <td><br /></td>
                </tr>
                <tr>
                    <td></td>
                    <td class="inner-addon right-addon" align="center">
                        @Html.EditorFor(userPassword => userPassword.User_Password, new { htmlAttributes = new { @class = "editorBar", placeholder = "Password" } })
                        <i class="glyphicon glyphicon-lock"></i>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td align="center">@Html.ValidationMessageFor(validInfo => validInfo.User_Password)</td>
                </tr>
                <tr>
                    <td></td>
                    <td align="center">
                        <label class="field-validation-error" align="center">@Html.DisplayFor(errInfo => errInfo.LoginErrorMessage)</label>
                    </td>
                </tr>
                <tr>
                    <td><br /></td>
                </tr>
                <tr>
                    <td></td>
                    <td align="right">
                        <input class="LoginButton" id="Submit" type="submit" value="Login" />
                    </td>
                </tr>
                <tr>
                    <td></td>
                </tr>

            </table>
        }

    </div>

    <!--SignUp-->
    
    <div class="modal fade SignUpPageM">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button data-dismiss="modal" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <div class="modal-title" style="font-weight: bold;">Register as User</div>
                </div>
                    @using (Html.BeginForm("SignUp", "UserLogin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <div class="modal-body">
                            <table class="signUpTable" width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td></td>
                                    <td style="font-weight: bold;">Image Preview</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><br /></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><img class="imgView" id="imgpreview"></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><br /></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><input type="file" name="imgfile" onchange="previewimg(event)" /></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><br /></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold;">UserName:</td>
                                    <td>

                                        @Html.EditorFor(userName => userName.User_Name, new { htmlAttributes = new { id = "txtEmail", placeholder = "User Name", required = "required" } })
                                        <br>@Html.ValidationMessageFor(userName => userName.User_Name, "", new { @class = "duplicate-danger" })
                                        
                                    </td>
                                    <td></td>
                                </tr>

                                <tr>
                                    <td style="font-weight: bold;">Email Address:</td>
                                    <td>
                                        @Html.EditorFor(userEmail => userEmail.User_Email, new { htmlAttributes = new {id= "txtName", placeholder = "Email Id", required = "required" } })
                                        <br>@Html.ValidationMessageFor(userEmail => userEmail.User_Email)
                                    </td>

                                    <td></td>
                                </tr>

                                <tr>
                                    <td style="font-weight: bold;">Password:</td>
                                    <td>
                                        @Html.EditorFor(userPassword => userPassword.User_Password, new { htmlAttributes = new {  placeholder = "Password", required = "required" } })
                                        <br>@Html.ValidationMessageFor(userPassword => userPassword.User_Password)
                                    </td>
                                    <td></td>
                                </tr>

                                <tr>
                                    <td style="font-weight: bold;">Confirm Password:</td>
                                    <td>
                                        @Html.EditorFor(userPassword => userPassword.ConfirmPassword, new { htmlAttributes = new { placeholder = "Password", required = "required" } })
                                        <br>@Html.ValidationMessageFor(validInfo => validInfo.ConfirmPassword)
                                    </td>
                                    <td></td>
                                </tr>

                                <tr>
                                    <td></td>
                                    <td style="color:red;font-size:20px;">
                                        @ViewBag.SuccessMessage
                                    </td>
                                    <td></td>
                                </tr>

                                <tr>
                                    <td></td>
                                    <td style="color:red;font-size:20px;">
                                        @ViewBag.DuplicateMessage
                                    </td>
                                    <td></td>
                                </tr>
                                
                            </table>

                            </div>

                        <div class="modal-footer">
                            <input class="SignUpButton" id="Submit" type="submit" value="SignUp" />
                        </div>
                    }
            </div>
        </div>

    </div>

</body>
    </html>
