@model ProductSummaryViewModel
@using JooleGroupProject.Models
@using JooleGroupProject.Data

@{
    ViewBag.Title = "ProductSummary";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Order</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
    <script src="~/Scripts/jQueryScripts/FilterItems.js"></script>
</head>
<body>
    <div class="container">
        <h4>Category > SubCategory</h4>
        <div class="row">
            <div class="col-sm-4">
                <ul class="list-group">
                    <li class="list-group-item">
                        <span>
                            Search:
                        </span>
                        <button>
                            Save
                        </button>
                        <button>
                            Clear
                        </button>
                    </li>
                    <li class="list-group-item">
                        <button>
                            Product
                        </button>
                        <button>
                            Project
                        </button>
                    </li>
                    <li class="list-group-item">
                        <span>
                            Product Type
                        </span>
                    <li class="list-group-item">
                        <b>Model Year:</b> <input class="modelInput" id="minModelInput"/> - <input class="modelInput" id="maxModelInput"/>
                        @foreach (KeyValuePair<string, List<string>> prop in Model.TypeFilters)
                        {
                            <div>
                                <label>@prop.Key</label>
                                <select class="typePropertySelect">
                                    <option value=""></option>
                                    @foreach (string propOption in prop.Value)
                                    {
                                        <option value="@propOption">@propOption</option>
                                    }
                                </select>
                            </div>
                        }
                    </li>
                    <li class="list-group-item">
                        <span>
                            Technical Specifications
                        </span>
                    </li>
                    <li class="list-group-item">
                        @foreach (tblSpecFilter prop in Model.TechSpecFilters)
                        {
                            <label>@prop.tblProperty.Property_Name</label>
                            <input type="number" id="minInput@(prop.Property_ID)" />
                            <div id="slider@(prop.Property_ID)"></div>
                            <input type="number" id="maxInput@(prop.Property_ID)" />
                            <script type="text/javascript">
                                createSlider(@prop.Property_ID, "@prop.Min_value", "@prop.Max_value")
                            </script>
                        }
                    </li>
                </ul>
            </div>
            <div class="col-sm-8">
                @foreach (ProductViewModel product in Model.Products)
                {
                    <div class="card productCard" id="card@(product.Product.Product_ID)">
                        <img class="card-img-top" src="#" alt="Product Image" />
                        <div class="card-body">

                            <h5><a href="ProductDetails_placeholder?productId=@product.Product.Product_ID">@product.Product.Product_Name</a></h5>
                            <h5>@product.Product.Series Series</h5>
                            <h5>@product.Product.Model</h5>
                            @foreach (string typePropName in Model.TypeFilters.Keys)
                            {
                                <div>@typePropName: @product.TypeProps[typePropName]</div>
                            }
                            @foreach (tblSpecFilter prop in Model.TechSpecFilters)
                            {
                                <div>@prop.tblProperty.Property_Name : <span class="techSpecProperty" propId="@prop.tblProperty.Property_ID">@product.TechSpecsProps[@prop.tblProperty.Property_Name]</span></div>
                            }
                            <input type="checkbox" value="@product.Product.Product_ID" /><label>Compare</label>
                            <button class="btn btn-primary">Add to</button>
                        </div>
                    </div>
                }
            </div>
            @Html.ActionLink("Compare Products", "ProductCompare_placeholder")
        </div>
    </div>
    <script>
    </script>
</body>
</html>
