@model JooleGroupProject.Models.JooleModel
@using JooleGroupProject.Models
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    <title>ProductDetails</title>

</head>
<body >
    <div class="container">
        <div class="imagePlace"><img src="~/Images/JooleLogo.png" width="120" height="60" /></div>
        <div id="MenuContainer">
            <div id="Menu">
                <a>@Html.ActionLink("Product Summary", "ProductSummary")</a>
                <a>@Html.ActionLink("Product Detail", "ProductDetail")</a>
                <a href="#">Product Decumentation</a>
                <a href="#">Contact</a>
            </div>
        </div>

        <div >
            
                <h2 id="Title">Product Summary</h2>
                <p id="TableLine"></p>
            <br />

            

            <div>
                <div>
                    <div id="DescriptionDIV">
                        <h5>Description</h5>
                        <table>
                            <tr>
                                <th id="TableHeader">Manufacture Id</th>
                                <td id="tableRow">@Model.ProductView.Product.Manufacturer_ID</td>

                            </tr>

                            <tr>
                                <th id="TableHeader">Series</th>
                                <td id="tableRow">@Model.ProductView.Product.Series_Info</td>
                            </tr>
                            <tr>
                                <th id="TableHeader">Model</th>
                                <td id="tableRow">@Model.ProductView.Product.Model</td>
                            </tr>


                        </table>



                    </div>
                    
                    <div id="TypeDIV">
                        <p id="TableLine"></p>
                        <br />
                        <h5>TYPE</h5>
                        <table>
                            @foreach (KeyValuePair<string, string> prop in Model.ProductView.TypeProps)
                            {
                                <tr>
                                    <th id="TableHeader">@prop.Key</th>
                                    <td id="tableRow">@prop.Value</td>
                                </tr>
                            }

                        </table>

                    </div>

                    

                </div>


                <div id="TechDIV">
                    <p id="TableLine"></p>
                    <br />
                    <h5>TECHNICAL SPECIFICATIONS</h5>
                    <table>
                        @foreach (KeyValuePair<string, string> prop in Model.ProductView.TechSpecsProps)
                        {
                            <tr>
                                <th id="TechTableHeader">@prop.Key</th>
                                <td id="tableRow">@prop.Value</td>
                            </tr>
                        }
                    </table>
                </div>


                
            </div>
        </div>
    </div>
</body>
</html>
