@model JooleGroupProject.Models.JooleModel
@using JooleGroupProject.Data

@{
    ViewBag.Title = "ProductSummary";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Order</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <script>
        $(document).ready(function () {
            $("#ProductName").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/Product/GetProdName",
                        type: "POST",
                        dataType: "json",
                        data: { Prefix: request.term, catID:1},
                        success: function (data) {
                            response($.map(data, function (item) {
                                return { label: item.Product_Name, value: item.Product_Name };
                            }));

                        }
                    });
                },
                messages: {
                    noResults: "",
                    results: function (count) {
                        return count + (count > 1 ? ' results' : ' result ') + ' found';
                    }
                }
            });
        });
    </script>
</head>
<body>
    <div class="container">
        @using (Html.BeginForm())
        {
            <select class="categoryDropdown" id="catSelect" for="@Model.SearchView.Categories">
                @foreach (var v in Model.SearchView.Categories)
                {
                    <option value="@v.Category_ID">@v.Category_Name</option>
                }
            </select>

            Html.RenderPartial("ProductSearchBar");

            <button type="submit" class="btn" style="background-color: #4682B4; color: white;"><i class="glyphicon glyphicon-search"></i></button>
        }
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <ul class="list-group">
                    <li class="list-group-item">
                        <span>
                            Search:
                        </span>
                        <button>
                            Save
                        </button>
                        <button>
                            Clear
                        </button>
                    </li>
                    <li class="list-group-item">
                        <button>
                            Product
                        </button>
                        <button>
                            Project
                        </button>
                    </li>
                    <li class="list-group-item">
                        <span>
                            Product Type
                        </span>
                    </li>
                    <li class="list-group-item">
                        <b>Model Year:</b> <input /> - <input />
                    </li>
                    <li class="list-group-item">
                        <span>
                            Technical Specifications
                        </span>
                    </li>
                    <li class="list-group-item">
                        <label for="customRange1" class="form-label">Airlfow(CFM)</label>
                        <input type="range" class="form-range" id="customRange1">
                    </li>
                </ul>
            </div>
            <div class="col-sm-8">
                @foreach (var product in Model.Products)
                {
                <div class="card">
                     <a href='@Url.Action("ProductDetail", "Product", new { id = product.Product_ID })'> <img class="card-img-top" src="#" alt="Product Image" /></a>

                    <div class="card-body">
                        <h5>@product.Product_Name</h5>
                        <h5>@product.Series Series</h5>
                        <h5>@product.Model</h5>
                        <input type="checkbox"/><label>Compare</label>
                        <button class="btn btn-primary">Add to</button>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
</body>
</html>
